    <footer id="footer" class="container cols">
      <ul class="col">
        <li><strong>RubyInstaller</strong></li>
        <li><a href="">About</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Download</a></li>
      </ul>
      <ul class="col">
        <li><strong>Developers</strong></li>
        <li><a href="">Roadmap</a></li>
        <li><a href="">Developer List</a></li>
        <li><a href="">Development Doc</a></li>
        <li><a href="">Gem developers</a></li>
      </ul>
      <ul class="col">
        <li><strong>Help</strong></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Mailing list</a></li>
        <li><a href="">Report a bug</a></li>
      </ul>
      <div id="copyright" class="col last"> 
        <span>Copyright &copy; 2007-2012 RubyInstaller</span> <a href="/about/contributors" title="Contributors">Contributors</a>
      </div>
    </footer>
