  <meta charset="utf-8">
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">

  <meta name="description" content="<!-- Description of the site. -->">
  <meta name="author" content="<!-- Site author -->">

  <link rel="shortcut icon" href="favicon.png">
  <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">

  <link rel="stylesheet" href="/stylesheets/import.all.css" media="all">

  <script src="/javascripts/init.js"></script>
  <script src="/javascripts/cufon-yui.js"></script> 
  <script src="/javascripts/Myriad_400-Myriad_600.font.js"></script> 
