    <header id="header" class="container">
      <a href="" id="logo"><img src="/images/logo.png" alt="RubyInstaller" width="290" height="82" /></a>
      <nav id="nav" class="fR">
        <ul>
          <li class="current"><a href="">About</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Downloads</a></li>
          <li><a href="">Getting Started</a></li>
          <li><a href="">Contribute</a></li>
        </ul>
      </nav>
    </header>
