      <nav id="sidenav" class="col colA">
        <ul>
          <li class="current"><a href="">Link #1</a></li>
          <li><a href="">Link #2</a></li>
        </ul>
      </nav>
      
      <div class="col colB">
        
        <h2 class="fR">Link #1</h2>
        
        <p>Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        
        <p>Donec sed odio dui. <strong>Fusce</strong> dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.</p>

        <p>Vestibulum id ligula porta felis euismod semper. Maecenas faucibus <a href="">mollis</a> interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p>
        
        <ul>
          <li>Unordered List Item</li>
          <li>Unordered List Item</li>
          <li>Unordered List Item</li>
        </ul>
        
        <ol>
          <li>Ordered List Item</li>
          <li>Ordered List Item</li>
          <li>Ordered List Item</li>
        </ol>
        
        <dl>
          <dt>Term</dt>
          <dd>Definition</dd>
          <dt>Term</dt>
          <dd>Definition</dd>
          <dt>Term</dt>
          <dd>Definition</dd>
        </dl>
        
        <code>
          function showMsg(txtMsg)<br />
          {<br />
          &nbsp;alert(txtMsg);<br />
          }<br />
        </code>
        
        <pre>
http://rubyforge.org/frs/download.php/72170/rubyinstaller-1.9.2-p0.exe        
        </pre>
        
        <blockquote>To be or not be, that is the question.</blockquote>
        
      </div>
