      <section class="col colA">
        <h2 class="fR">Latest News</h2>
        <article class="story">
          <h3><a href="">RubyInstaller 1.8.7-p334 and 1.9.2-p180 released</a></h3>
          <p>Both RubyInstaller version 1.8.7-p334 and 1.9.2-p180 are now available for download in both executable installers and 7-Zip binary archives. CHM documentation is also available as a 7-Zip archive, all in our download section. Enjoy!</p>
          <footer>
            <time pubdate datatime="2011-02-19">February 19, 2011</time>
            <a href="" class="refer">Read full article &rarr;</a>
          </footer>
        </article>
        <article class="story">
          <h3><a href="">RubyInstaller 1.8.7-p330 released</a></h3>
          <p>The RubyInstaller version 1.8.7-p330 is now available for download in both executable installers and 7-Zip binary archives. CHM documentation is also available as a 7-Zip archive. Enjoy!</p>
          <footer>
            <time pubdate datatime="2010-12-25">December 25, 2010</time>
            <a href="" class="refer">Read full article &rarr;</a>
          </footer>
        </article>
      </section>

      <section class="col colB">
        <h2 class="fR">Latest tweets</h2>
      </section>
