<% container "alt" %>

      <div class="col colA">
        <h2 class="fR">Featured</h2>
        <article id="featured" class="release">
          <header>
            <h2>Ruby 1.9-2-p180</h2>
            <ul>
              <li><a href="http://rubyforge.org/frs/download.php/74298/rubyinstaller-1.9.2-p180.exe" class="tag tag-installer">Installer</a></li>
              <li><a href="http://rubyforge.org/frs/download.php/74299/ruby-1.9.2-p180-i386-mingw32.7z" class="tag tag-sevenzip">7-zip</a></li>
              <li><a href="http://rubyforge.org/frs/download.php/74300/ruby-1.9.2-p180-doc-chm.7z" class="tag tag-doc">Documentation</a></li>
              <li><a href="" class="tag trigger">Hide notes</a></li>
            </ul>
          </header>
          <div class="notes">
            <pre>
<strong>Notes :</strong>
Ruby 1.8.7-p334 release

MD5 for verification:

3cd42e470f4ebd16310498c63bd52aeb *ruby-1.8.7-p334-doc-chm.7z
bc16f57f086915aaa8ad4116cb3fb7c2 *ruby-1.8.7-p334-i386-mingw32.7z
64e30e63e16028282fcfe3ec57b561dc *rubyinstaller-1.8.7-p334.exe

<hr />
<strong>Changements :</strong>
Read Ruby own announcement for details:

http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-talk/378696

Enhancements from RubyInstaller:
* Upgraded RubyGems to 1.5.2 on all versions of Ruby
* Upgraded rb-readline to version 0.4.0
            </pre>
          </div>
        </article>

        <section class="releases">
          <article class="release">
            <header>
              <h2>Ruby 1.8.7-p334</h2>
              <ul>
                <li><a href="" class="tag tag-installer">Installer</a></li>
                <li><a href="" class="tag tag-sevenzip">7-zip</a></li>
                <li><a href="" class="tag tag-doc">Documentation</a></li>
              </ul>
            </header>
          </article>
          <article class="release">
            <header>
              <h2>Ruby 1.8.7-p302</h2>
              <ul>
                <li><a href="" class="tag tag-installer">Installer</a></li>
                <li><a href="" class="tag tag-sevenzip">7-zip</a></li>
                <li><a href="" class="tag tag-doc">Documentation</a></li>
                <li><a href="" class="tag trigger">Show notes</a></li>
              </ul>
            </header>
            <div class="notes">
              <pre>
Hello Luis
              </pre>
            </div>
          </article>

          <article class="release">
            <header>
              <h2>Ruby 1.8.7-p202</h2>
              <ul>
                <li><a href="" class="tag tag-installer">Installer</a></li>
                <li><a href="" class="tag tag-sevenzip">7-zip</a></li>
                <li><a href="" class="tag tag-doc">Documentation</a></li>
                <li><a href="" class="tag trigger">Show notes</a></li>
              </ul>
            </header>
            <div class="notes">
              <pre>
<strong>Changements :</strong>
Read Ruby own announcement for details:

http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-talk/378696

Enhancements from RubyInstaller:
* Upgraded RubyGems to 1.5.2 on all versions of Ruby
* Upgraded rb-readline to version 0.4.0
              </pre>
            </div>
          </article>

          <article class="release">
            <header>
              <h2>Ruby 1.8.7-p102</h2>
              <ul>
                <li><a href="" class="tag tag-installer">Installer</a></li>
                <li><a href="" class="tag tag-sevenzip">7-zip</a></li>
                <li><a href="" class="tag tag-doc">Documentation</a></li>
              </ul>
            </header>
          </article>
        </section>
      </div>

      <div class="col colB">
        <h3>Download issues?</h3>
        <p>Depending on your location, sometimes the downloads will not work. This is due RubyForge provided mirrors. Until we completely move our releases out of them. please add <strong>/noredirect</strong> at the end of the URL and try again.</p>

        <h3>Support</h3>
        <p>Enjoy, happy Ruby coding, and let us know what you think or if you have any issues at our helpful and friendly
        <a href="http://groups.google.com/group/rubyinstaller">RubyInstaller Google Group</a>.</p>

        <hr />

        <dl class="tags">
          <dt><span class="tag tag-installer">Installer</span></dt>
          <dd>
            <p>RubyInstaller is compiled with MinGW 4.5.1 (MinGW 3.4.5 for previous versions including 1.8.7-p302) which offers improved speed and better
            RubyGem compatibility, including support for many more native C-based extensions such as <a href="http://github.com/ffi/ffi">Ruby FFI</a>, <a href="http://nokogiri.org/">Nokogiri</a>, <a href="http://www.fxruby.org/">FXRuby</a> and <a href="http://github.com/oneclick/rubyinstaller/wiki/Gem-List">many others</a>.</p>
          </dd>

          <dt><span class="tag tag-sevenzip">7-zip</span></dt>
          <dd>
            <p>No additional software is needed if you want to use the executable versions of the RubyInstaller. If you would like
            to use the 7-Zip archived versions or the Ruby documentation, you will need to download 7-Zip from
            the <a href="http://www.7-zip.org/">7-Zip website</a>.</p>
          </dd>

          <dt><span class="tag tag-doc">Documentation</span></dt>
          <dd>
            <p>As an added convenience for Windows users, we’ve made available the Ruby Core and Standard Library documentation in Compiled HTML Help (CHM) format.</p>
          </dd>

          <dt><span class="tag tag-devkit">Devkit</span></dt>
          <dd>
            <p>The <a href="http://github.com/oneclick/rubyinstaller/wiki/Development-Kit">RubyInstaller Development Kit (DevKit)</a> is
            a MSYS/MinGW based toolkit than enables you to build many of the native C/C++ extensions available
            for Ruby.</p>
          </dd>
        </dl>
      </div>
