<% container "alt" %>

<div class="col colA">
  <section class="releases">
    <% releases.each do |release| %>
    <article class="release">
      <header>
        <h2><%= release.title %></h2>
        <!-- TODO: Show release date using time -->
        <!-- FIXME: move ul outside of header to give room for release date -->
        <ul>
          <% release.links.each do |link| %>
          <li><%= link.to_html %></li>
          <% end %>
        </ul>
      </header>
      <div class="notes">
        <pre><%= release.notes %></pre>
      </div>
    </article>
    <% end %>
  </section>
</div>

      <div class="col colB">
        <h3>Download issues?</h3>
        <p>Depending on your location, sometimes the downloads will not work. This is due RubyForge provided mirrors. Until we completely move our releases out of them. please add <strong>/noredirect</strong> at the end of the URL and try again.</p>

        <h3>Support</h3>
        <p>Enjoy, happy Ruby coding, and let us know what you think or if you have any issues at our helpful and friendly
        <a href="http://groups.google.com/group/rubyinstaller">RubyInstaller Google Group</a>.</p>

        <hr />

        <dl class="tags">
          <dt><span class="tag tag-installer">Installer</span></dt>
          <dd>
            <p>RubyInstaller is compiled with MinGW 4.5.1 (MinGW 3.4.5 for previous versions including 1.8.7-p302) which offers improved speed and better
            RubyGem compatibility, including support for many more native C-based extensions such as <a href="http://github.com/ffi/ffi">Ruby FFI</a>, <a href="http://nokogiri.org/">Nokogiri</a>, <a href="http://www.fxruby.org/">FXRuby</a> and <a href="http://github.com/oneclick/rubyinstaller/wiki/Gem-List">many others</a>.</p>
          </dd>

          <dt><span class="tag tag-sevenzip">7-zip</span></dt>
          <dd>
            <p>No additional software is needed if you want to use the executable versions of the RubyInstaller. If you would like
            to use the 7-Zip archived versions or the Ruby documentation, you will need to download 7-Zip from
            the <a href="http://www.7-zip.org/">7-Zip website</a>.</p>
          </dd>

          <dt><span class="tag tag-doc">Documentation</span></dt>
          <dd>
            <p>As an added convenience for Windows users, we’ve made available the Ruby Core and Standard Library documentation in Compiled HTML Help (CHM) format.</p>
          </dd>

          <dt><span class="tag tag-devkit">Devkit</span></dt>
          <dd>
            <p>The <a href="http://github.com/oneclick/rubyinstaller/wiki/Development-Kit">RubyInstaller Development Kit (DevKit)</a> is
            a MSYS/MinGW based toolkit than enables you to build many of the native C/C++ extensions available
            for Ruby.</p>
          </dd>
        </dl>
      </div>
