/*
	TEMPLATE 
*/

body {
	font:normal 12px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;
	color:#333;
}
/* Links */
a {
	color:#AD050A;
}
.sub #main a {
	text-decoration:none;
}
.sub #main a:hover {
	text-decoration:underline;
}

/* Paragraphs  and common rules */
p, .sub .colB ul, .sub .colB ol, .sub .colB dl {
	font-size:14px;
	line-height:21px;
}
.cols-alt .colB p {
	font-size:12px;
}
.sub .colB p, .sub .colB ul, .sub .colB ol, .sub .colB dl, .sub .colB code, .sub .colB blockquote, .sub .colB pre {
	margin:0 40px 10px 0;
}
.sub .colB pre {
	margin-bottom:20px;
}

/* Unordered Lists */
.sub .colB ul {
	list-style: disc inside none;
}
.sub .colB ol {
	list-style: decimal inside none;
}

/* Definition List */
.sub .colB dt {
	font-weight:bold;
}
.sub .colB dd {
	margin:0 0 5px;
}

/* Blockquote */
blockquote {
	font:bold 18px "Palatino Linotype",Palatino LT Std,Book Antiqua,Palatino,Georgia,serif;
	font-style:italic;
	border-left: 1px solid #ccc;
	padding:10px
}

/* Pre */
pre {
	font-family: 'andale mono', 'lucida console', monospace;
	border:1px solid #ccc;
	padding:10px;
}
pre hr {
	margin:0;
	border:0 none;
	border-top:1px dotted #ccc;
}

#shell {
	position:relative
}

/* Common rule for overflow/clearing blocks */
#header { overflow:hidden; zoom:1;}

/* Common rule for floating (left) elements */
#header nav li { display:block; float:left; }

/* Header */
#header {
	height:85px;
}
#header #logo {
	float:left;
}
#header nav {
	float:right;
}
/* Footer */
#footer {
	border-top:1px solid #ccc;
	padding:15px 0 25px;
}
/* Copyright */
#copyright {
	text-align:right;
}
#footer #copyright {
	width:470px;
	margin:0;
}
#footer strong {
	color:#333;
}
#footer, #footer a {
	color:#848383;
}
#footer a:hover {
	color:#333;
}
/* Partners */
#footer .partners {
	margin:0 0 5px;
}
#footer .partners a {
	margin:0 0 0 10px;
}

/* Graphic */
#graphic {
	height:263px;
}
#shell.sub #graphic {
	height:84px;
}
#graphic .inner {
	width:590px;
}
#graphic h1, #graphic p {
	text-shadow: 0 1px 0 #FFF;
}
#graphic p {
	font-size:17px;
	margin:0 0 15px;
}

/* Main */
#main {
	padding:32px 0 20px;
}
.sub #main {
	padding-top:0;
}

/* Features */
#features {
	padding:0 0 30px;
}
#features a {
	color:#333;
	display:block;
	text-decoration:none;
	padding:0 0 0 85px;
}
#features h3 {
	font-weight:bold;
	font-size:20px;
	margin:0 0 4px;
	color:#AD050A;
}
#features a:hover h3 {
	text-decoration:underline;
}